@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    background: #b7c3d8;
    font-family: "Poppins", sans-serif;
}

.center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.submit-btn, input {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    width: 170px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
    color: #868ea0;
    background: #e4ebf5d2;
    box-shadow: -3px -3px 7px #ffffff88, 2px 2px 5px rgba(94, 104, 121, 0.288);
    transition: 0.3s all;
}

.submit-btn:hover {
    transition: 0.3s all;
    color: black;
}

.submit-btn:active, input {
    box-shadow: inset -3px -3px 7px #ffffff88, inset 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.search {
    background: #e4ebf5;
    width: 100%;
    margin: 50px;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}

.results {
    background: #e4ebf5;
    width: 100%;
    margin: 0 50px;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}

.search h1 {
    font-family: 'Amatic SC', cursive;
}

.container {    
    align-items: center;
    justify-content: center;
    display: flex;
}

input {
    width: 100%;
    border-style: none;
    outline: none;
    cursor: text;
    padding-left: 10px;
    margin-right: 20px;
}

.hidden {
    opacity: 0;
}

.footer {
    background: #e4ebf5;
    width: 100%;
    padding: 10px 0;

    position: fixed;
    bottom: 0px;
    left: 0px;
}

.footer .owner {
    align-items: center;
    text-align: center;
}

.heart {
    color: rgb(226, 17, 17);
    font-size: 13px;
    margin: 0 2px 10px;
}

.user-pfp {
    border-radius: 100%;
    width: 130px;
}

.profile {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin: 20px 0;
}

.profile .pfp {
    margin-right: 30px;
}

#house_div {
    margin-top: 15px;
}

.user-banner {
    width: 35%;
    height: auto;
}